*{
  box-sizing: border-box;

  
}


body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  color: ffff;
  padding: 0;
  margin: 0;
}

.App{
  width: 60%;
  margin: 10% auto;
}

.text{
  text-align: center;
  color:#e0f778;
}

.ListItems{
  background: #fff;
  color: #000;
}
.ListItems p {
  margin: 0;
  text-align: center;
  padding: 10px 0px;

}

.ListItems span{
  display: inline-block;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  border: 0.5px solid #ccc;
}

.ListItems span.title{
  background: #fbfb22;
  color: #fff;
}

.ListItems span.name , form input[type = text]{
  width: 60%;
}

.ListItems span.age , form input [type = number]{
  width: 30%;
}

.ListItems span.action , form input[ type = submit]{
  width: 10%;
}

.ListItems span.icon{
  color: #dd2929;
  cursor: pointer;
}

form input {
  padding: 10px;
  background: #ebebeb;
  border: transparent;
  border: 0.3px solid #ccc;
}
form input[type=submit] {
  background: #dcff52;
  border: 0.3px solid #dcff52;
  color:#fff;
  cursor: pointer;
}